/* General */
body {
  /* background-color: purple; */
  font-family: 'Roboto', sans-serif;
}

/* Typography */
h1 {
  font-size: 64px;
}

h2 {
  color: #031b4e;
  font-size: 36px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 5px;
}

/* Utilities */
.do_bg-white {
  background-color: #fff;
}

.do_bg-lightgrey {
  background-color: #f3f5f9;
}

.do_bg-gradient {
  background-image: linear-gradient(to top,#001e9a,#0047c5);
}

.do_bg-deepblue {
  background-color: #031c4d;
}

.do_white {
  color: #fff;
}

.do_grey {
  color: #fff;
  opacity: .8;
}

.do_darkblue,
.do_darkblue a {
  color: #031b4e;
}

.do_electroblue {
  color: #066afe;
}

.do_link {
  color: #0069ff;
}

.do_link::after {
  content: ' >';
  padding-left: 5px;
}

/* Header - Navigation */
#navigation {
  height: 65px;
}

#navigation .do_navbar {
  /* position: relative; */
}

#navigation .do_navbar > .container {
  /* position: fixed; */
  height: 65px;
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  line-height: 65px;
  vertical-align: middle;
}

#navigation .do_brand {
  padding-left: 0;
}

#navigation .do_brand img {
  width: 160px;
  margin-bottom: 3px;
}

/* Header - Jumbotron */
#jumbotron {
  height: 490px;
  padding-top: 65px;
  background-color: #0049ff;
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
}

.do_jumbo-text {
  font-size: 22px;
}

.do_jumbo-box {
  width: 100%;
  min-height: 365px;
  border-radius: 6px;
  padding: 20px;
}

.do_jumbo-box > div {
  padding-top: 15px;
}

.do_jumbo-box input {
  height: 45px;
}

.do_jumbo-box input,
.do_jumbo-box button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  padding-left: 5px;
}

.do_jumbo-box ::placeholder {
  font-weight: 700;
}

.do_createaccount {
  background-color: #579AFF;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 2px #bbb;
}

.do_google {
  position: relative;
  border: none;
  box-shadow: 1px 1px 2px #bbb;
  color: #6A6A6A;
}

.do_google::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../assets/google-icon.png');
  background-size: contain;
  background-position: center;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

a.do_service-terms {
  text-decoration: underline;
}

/* Main - Customers */
#customers {
  height: 275px;
}

#customers li {
  width: calc(100% / 6 - 20px);
}

#customers img {
  max-width: 100%;
}

/* Main - Process */
#process .do_v-menu {
  padding-left: 10px;
  border-left: 1px solid grey;
}

#process .do_v-menu li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.do_slider {
  position: relative;
  width: 580px;
  height: 380px;
  max-width: 600px;
  max-height: 380px;
}

.do_slider img {
  max-width: 100%;
}

.do_before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
  color: #707B97;
}

.do_after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
  color: #021C4E;
}

.do_circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
}

.do_circlefull {
  background-color: #006AFF;
}

#reviews .do_slider > div {
  width: 100%;
  height: 100%;
}
/* Footer */
#footer {

}

#footer p.do_grey {
  opacity: .5;
}

#footer span.do_grey {
  opacity: .3;
}

/* Responsive - Extra-Small Devices (graphic-3.png 500px) */
@media all and (max-width: 767px) {

}


/* Responsive - Small Devices (graphic-2.png 776px) */
@media all and (min-width: 768px) {

}


/* Responsive - Medium Devices (no screenshot) */
@media all and (min-width: 992px) {

}


/* Responsive - Large devices (graphic-1.png 1630px)*/
@media all and (min-width: 1200px) {

}


/*  Colors */
/*
            MAIN MENU
bg_white    BG: #fff
do_blue     Hamburger & Signup-button: #6899ff
do_darkblue <a> & dropdown color: #031b4e

            JUMBOTRON-LEFT
            BG: (image)
white       H1: #fff
grey        Text: #fff opacity .8

            JUMBOTRON-RIGHT
bg_white    BG: #fff
            "Deploy": #031b4e
            "Get started": #066afe
            Placeholder: #848484
            1st Button BG: #579aff
white       1st Button Color: #fff
bg_white    2nd Button BG: #fff
            2nd Button Color: #717171
            Subtext: #405075
            Subtext <a>: #3680fe

            CUSTOMERS
            BG: #f3f5f9
            Title: #f3f5f9
do_link     <a>: #0069ff

            PROCESS
            BG: #fff
s_title     Section title & mini-section titles: #1e325e
s_text      Text: #606e8b
            Menu-left <a>: #7d86a0
            Menu-left border: #d6d6d6

            SLIDER-DEMO
bg_slider   BG: #f3f5f9
            Section title & right-arrow: #031c4d
            Left-arrow: #707a97
s_text      Text: #606e8b
do_circle   Circles BG / Border: #006afe

            FEATURES
bg_white    BG: #fff
s_title     Section title & mini-section titles: #1e325e
s_text      Text: #606e8b
do_link     <a>: #0069ff

            WORLD-SPEED
            BG: linear-gradient
white       Section title & code
s_text      Location text: #606e8b
do_link*    <a>: #00ccd0 (manterrà l'::after)
            Border-bottom: white

            REVIEWS
bg_slider   BG: #f3f5f9
            slider BG: #fff
s_text      slider text: #606e8b
            reviewer sign: #031c4d (fw500)
            reviewer role: #031c4d (fw400)
do_link     <a>: #0069ff
do_circle   Circles BG / Border: #006afe

            GET_STARTED
            BG: #0032ac
white       Section title: #fff
bg_white    button BG: #fff
do_blue     button text: #6899ff

            FOOTER
            BG: #031c4d
            social icons, copyright: #7a849d
            subtext: #4d5b7d
white       column title: #fff
s_text*     column <a>: #606e8b (just color)

            CHAT
            BG: image
            BG fallback: #006afe
            BG notifies number: #ff0100
            BG chat: #fff
            Chat text: #606e8b

~ end colors */
